<div class="inner">
	<h3>You have 0 active campaigns!</h3>
	<h4>Performance of your campaigns</h4>
	<div class="group">
		Some selections
	</div>
	<div class="wat-cf">
		<div class = "performanceform">
			<div class="left">
				<div class="group">
					<ul class="list">
						<li>
							<div class="left">
								<h3>Clicks:</h3>
							</div>
							<div class="item">
								<h4> 5,000 </h4>
							</div>
						</li>
						<li>
							<div class="left">
								<h3>Impressions:</h3>
							</div>
							<div class="item">
								<h4> 5,000,000 </h4>
							</div>
						</li>
						<li>
							<div class="left">
								<h3>CTR:</h3>
							</div>
							<div class="item">
								<h4> 10% </h4>
							</div>
						</li>
						<li>
							<div class="left">
								<h3>Average CPC:</h3>
							</div>
							<div class="item">
								<h4> &#8364; 0.001 </h4>
							</div>
						</li>
						<li>
							<div class="left">
								<h3>Cost:</h3>
							</div>
							<div class="item">
								<h4> &#8364; 1234 </h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="group">
					<h4>Performance Graph</h4>
				</div>
			</div>
		</div>
	</div>
</div>
